# Python virtualenv #
######################
venv
mrelearner.egg-info

# Backup Files #
################
*~

# Secret Files #
################
mrelearner/database/secret.py
mrelearner/webapi/web_api_security.py
mrelearner/webapi/example.py

# Compiled Python #
##################
*.pyc



