Flask==0.12
Flask-HTTPAuth==3.2.2
Jinja2==2.9.5
MarkupSafe==0.23
Werkzeug==0.11.15
argparse==1.2.1
click==6.7
enum34==1.1.6
itsdangerous==0.24
numpy==1.12.0
pyodbc==3.1.1
requests==2.13.0
scikit-learn==0.18.1
scipy==0.18.1
sklearn==0.0
wsgiref==0.1.2
bottleneck==1.2.0

